@media (prefers-color-scheme: light) {
    .light {
        background: white;
        color: #555;
    }
}

@media (prefers-color-scheme: dark) {
    .dark {
        background: #333;
        color: white;
    }
}